In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
df = pd.read_excel("rfv_analise.xlsx")

In [48]:
bu = pd.read_csv("bu.csv")

In [49]:
bu

           BU                 BU New     BU-RFV
0   Adoçantes        CONSUMER HEALTH         CH
1   GENÉRICOS         SMART GENERICS  GENÉRICOS
2      MARCAS        CONSUMER HEALTH         CH
3      MARCAS          FAMILIA BUSCO         CH
4      MARCAS  PRESCRIPTION PRODUCTS         PP
5      MARCAS              SANOFI CH         CH
6      MARCAS              SANOFI PP         PP
7      MARCAS               SKINCARE   SKINCARE
8      MARCAS              TAKEDA CH         CH
9      MARCAS              TAKEDA PP         PP
10      SMART         SMART GENERICS      SMART
11  GENÉRICOS          INSTITUCIONAL  GENÉRICOS
12      SMART          INSTITUCIONAL      SMART
13     MARCAS          INSTITUCIONAL         PP

In [50]:
df['BU-TESTE'] = df['BU'] + ' - ' + df['BU New']

In [51]:
bu['BU-TESTE'] = bu['BU'] + ' - ' + bu['BU New']

In [52]:
df.tail(1)

,Rede,UF,BU,BU New,Canal VD-VI-Hosp,Ano,Trimestre,Mês,Entregue - Liq Abatimento,Qtd Entregue,BU-TESTE
85801,CIRURGICA MONTEBELLO LTDA,PE,SMART,SMART GENERICS,HOSPITALAR,2022,4 TRIMESTRE,DEZEMBRO,0.0,0.0,SMART - SMART GENERICS

In [53]:
bu.tail(1)

        BU         BU New BU-RFV                BU-TESTE
13  MARCAS  INSTITUCIONAL     PP  MARCAS - INSTITUCIONAL

In [54]:
df["BU_DATA"] = df["BU-TESTE"].map(bu.set_index("BU-TESTE")["BU-RFV"])

In [56]:
df.tail(1)

,Rede,UF,BU,BU New,Canal VD-VI-Hosp,Ano,Trimestre,Mês,Entregue - Liq Abatimento,Qtd Entregue,BU-TESTE,BU_DATA
85801,CIRURGICA MONTEBELLO LTDA,PE,SMART,SMART GENERICS,HOSPITALAR,2022,4 TRIMESTRE,DEZEMBRO,0.0,0.0,SMART - SMART GENERICS,SMART

In [57]:
df['rede_uf'] = df['Rede'] + ' - ' + df['UF']

In [58]:
df = df[df["Qtd Entregue"] > 0]

In [60]:
df.tail(1)

,Rede,UF,BU,BU New,Canal VD-VI-Hosp,Ano,Trimestre,Mês,Entregue - Liq Abatimento,Qtd Entregue,BU-TESTE,BU_DATA,rede_uf
85717,CIAMED DIST DE MED LTDA,RS,GENÉRICOS,SMART GENERICS,HOSPITALAR,2018,3 TRIMESTRE,JULHO,275.0,100.0,GENÉRICOS - SMART GENERICS,GENÉRICOS,CIAMED DIST DE MED LTDA - RS

In [61]:
df = df.drop(["Rede", "UF", "BU", "BU New", ], axis=1)

In [62]:
df.tail(1)

,Canal VD-VI-Hosp,Ano,Trimestre,Mês,Entregue - Liq Abatimento,Qtd Entregue,BU-TESTE,BU_DATA,rede_uf
85717,HOSPITALAR,2018,3 TRIMESTRE,JULHO,275.0,100.0,GENÉRICOS - SMART GENERICS,GENÉRICOS,CIAMED DIST DE MED LTDA - RS

In [63]:
meses = {'JANEIRO': '01', 'FEVEREIRO': '02', 'MARÇO': '03', 'ABRIL': '04',
         'MAIO': '05', 'JUNHO': '06', 'JULHO': '07', 'AGOSTO': '08',
         'SETEMBRO': '09', 'OUTUBRO': '10', 'NOVEMBRO': '11', 'DEZEMBRO': '12'}
df['mes_numero'] = df['Mês'].map(meses)

In [64]:
df

,Canal VD-VI-Hosp,Ano,Trimestre,Mês,Entregue - Liq Abatimento,Qtd Entregue,BU-TESTE,BU_DATA,rede_uf,mes_numero
3,VAREJO DIRETO,2018,2 TRIMESTRE,MAIO,5386.33,64.0,Adoçantes - CONSUMER HEALTH,CH,DROGASIL - BA,05
4,VAREJO DIRETO,2018,2 TRIMESTRE,JUNHO,25947.19,352.0,Adoçantes - CONSUMER HEALTH,CH,DROGASIL - BA,06
5,VAREJO DIRETO,2018,3 TRIMESTRE,JULHO,17637.59,232.0,Adoçantes - CONSUMER HEALTH,CH,DROGASIL - BA,07
6,VAREJO DIRETO,2018,3 TRIMESTRE,AGOSTO,13165.35,191.0,Adoçantes - CONSUMER HEALTH,CH,DROGASIL - BA,08
7,VAREJO DIRETO,2018,3 TRIMESTRE,SETEMBRO,56266.59,818.0,Adoçantes - CONSUMER HEALTH,CH,DROGASIL - BA,09
...,...,...,...,...,...,...,...,...,...,...
85696,HOSPITALAR,2018,3 TRIMESTRE,JULHO,1110.12,72.0,SMART - SMART GENERICS,SMART,ALTHIS COM DE MEDIC E MAT MEDICO - SC,07
85700,VAREJO DIRETO,2018,2 TRIMESTRE,JUNHO,1726.44,60.0,MARCAS - CONSUMER HEALTH,CH,GLOBAL ORGANIZACAO FARMACEUTICA - SP,06
85712,VAREJO INDIRETO,2018,2 TRIMESTRE,MAIO,702.00,300.0,SMART - SMART GENERICS,SMART,DISTRIPHARMA DISTR DE MEDIC LTDA - RS,05
85716,HOSPITALAR,2018,2 TRIMESTRE,JUNHO,275.00,100.0,GENÉRICOS - SMART GENERICS,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,06
85717,HOSPITALAR,2018,3 TRIMESTRE,JULHO,275.00,100.0,GENÉRICOS - SMART GENERICS,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,07

In [66]:
df['data'] = pd.to_datetime(df['Ano'].astype(str) + '-' + df['mes_numero'], format="%Y-%m")

In [67]:
df.tail(1)

,Canal VD-VI-Hosp,Ano,Trimestre,Mês,Entregue - Liq Abatimento,Qtd Entregue,BU-TESTE,BU_DATA,rede_uf,mes_numero,data
85717,HOSPITALAR,2018,3 TRIMESTRE,JULHO,275.0,100.0,GENÉRICOS - SMART GENERICS,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,07,2018-07-01

In [69]:
df = df.drop(["Ano", "Trimestre", "Mês"], axis=1)

In [71]:
df = df.drop(["mes_numero", "BU-TESTE"], axis=1)

In [72]:
df.tail(1)

,Canal VD-VI-Hosp,Entregue - Liq Abatimento,Qtd Entregue,BU_DATA,rede_uf,data
85717,HOSPITALAR,275.0,100.0,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-07-01

In [73]:
df["Canal VD-VI-Hosp"].unique()

array(['VAREJO DIRETO', 'VAREJO INDIRETO', 'ALIMENTAR', 'HOSPITALAR',
       'E-COMMERCE'], dtype=object)

In [78]:
contagem = df["Canal VD-VI-Hosp"].value_counts()
contagem

Canal VD-VI-Hosp
VAREJO INDIRETO    35226
VAREJO DIRETO      18110
ALIMENTAR          10086
HOSPITALAR          6965
E-COMMERCE           275
Name: count, dtype: int64

In [79]:
percentual = (contagem/len(df)) * 100
percentual

Canal VD-VI-Hosp
VAREJO INDIRETO    49.851405
VAREJO DIRETO      25.629051
ALIMENTAR          14.273584
HOSPITALAR          9.856783
E-COMMERCE          0.389177
Name: count, dtype: float64

In [80]:
df = df.loc[df["Canal VD-VI-Hosp"] != "E-COMMERCE"]
df.tail(1)

,Canal VD-VI-Hosp,Entregue - Liq Abatimento,Qtd Entregue,BU_DATA,rede_uf,data
85717,HOSPITALAR,275.0,100.0,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-07-01

In [81]:
df["Canal VD-VI-Hosp"].unique()

array(['VAREJO DIRETO', 'VAREJO INDIRETO', 'ALIMENTAR', 'HOSPITALAR'],
      dtype=object)

frequencia = df["rede_uf"].value_counts() - OK
recencia = ultima compra - OK
valor

In [85]:
ultima_compra = df.groupby("rede_uf")["data"].max().reset_index()

In [86]:
ultima_compra = ultima_compra.rename(columns={'data': 'recencia'})

In [87]:
ultima_compra.tail(5)

                                   rede_uf   recencia
746                          WAL MART - SP 2022-12-01
747  WM COMERCIO DE MEDICAMENTOS LTDA - PR 2021-04-01
748        WN COMERCIO IMP E REP LTDA - AM 2020-07-01
749            ZAMBONI COMERCIAL LTDA - MG 2019-04-01
750            ZAMBONI COMERCIAL LTDA - RJ 2021-02-01

In [88]:
df = pd.merge(df, ultima_compra, on = "rede_uf", how = "left")

In [89]:
df.tail(5)

,Canal VD-VI-Hosp,Entregue - Liq Abatimento,Qtd Entregue,BU_DATA,rede_uf,data,recencia
70382,HOSPITALAR,1110.12,72.0,SMART,ALTHIS COM DE MEDIC E MAT MEDICO - SC,2018-07-01,2018-07-01
70383,VAREJO DIRETO,1726.44,60.0,CH,GLOBAL ORGANIZACAO FARMACEUTICA - SP,2018-06-01,2018-06-01
70384,VAREJO INDIRETO,702.00,300.0,SMART,DISTRIPHARMA DISTR DE MEDIC LTDA - RS,2018-05-01,2018-05-01
70385,HOSPITALAR,275.00,100.0,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-06-01,2018-07-01
70386,HOSPITALAR,275.00,100.0,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-07-01,2018-07-01

Setamos a data maxima como a data de referencia para o calculo de recencia

In [106]:
data_maxima = df['data'].max()
data_maxima

Timestamp('2022-12-01 00:00:00')

In [124]:
df["recencia_valor"] = (data_maxima - df["recencia"]).dt.days

In [125]:
df["recencia_valor"] = df["recencia_valor"] / 30

In [126]:
df.tail(5)

,Canal VD-VI-Hosp,Entregue - Liq Abatimento,Qtd Entregue,BU_DATA,rede_uf,data,recencia,recencia_valor
70382,HOSPITALAR,1110.12,72.0,SMART,ALTHIS COM DE MEDIC E MAT MEDICO - SC,2018-07-01,2018-07-01,53.800000
70383,VAREJO DIRETO,1726.44,60.0,CH,GLOBAL ORGANIZACAO FARMACEUTICA - SP,2018-06-01,2018-06-01,54.800000
70384,VAREJO INDIRETO,702.00,300.0,SMART,DISTRIPHARMA DISTR DE MEDIC LTDA - RS,2018-05-01,2018-05-01,55.833333
70385,HOSPITALAR,275.00,100.0,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-06-01,2018-07-01,53.800000
70386,HOSPITALAR,275.00,100.0,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-07-01,2018-07-01,53.800000

In [129]:
df = df.drop("recencia", axis=1)

In [130]:
df.tail(1)

,Canal VD-VI-Hosp,Entregue - Liq Abatimento,Qtd Entregue,BU_DATA,rede_uf,data,recencia_valor
70386,HOSPITALAR,275.0,100.0,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-07-01,53.8

In [134]:
df['frequencia'] = df.groupby('rede_uf')['rede_uf'].transform('count')

In [138]:
df.tail(5)

,Canal VD-VI-Hosp,Entregue - Liq Abatimento,Qtd Entregue,BU_DATA,rede_uf,data,recencia_valor,frequencia
70382,HOSPITALAR,1110.12,72.0,SMART,ALTHIS COM DE MEDIC E MAT MEDICO - SC,2018-07-01,53.800000,5
70383,VAREJO DIRETO,1726.44,60.0,CH,GLOBAL ORGANIZACAO FARMACEUTICA - SP,2018-06-01,54.800000,1
70384,VAREJO INDIRETO,702.00,300.0,SMART,DISTRIPHARMA DISTR DE MEDIC LTDA - RS,2018-05-01,55.833333,1
70385,HOSPITALAR,275.00,100.0,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-06-01,53.800000,2
70386,HOSPITALAR,275.00,100.0,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-07-01,53.800000,2

In [139]:
df["valor"] = df["Entregue - Liq Abatimento"]

In [140]:
df

,Canal VD-VI-Hosp,Entregue - Liq Abatimento,Qtd Entregue,BU_DATA,rede_uf,data,recencia_valor,frequencia,valor
0,VAREJO DIRETO,5386.33,64.0,CH,DROGASIL - BA,2018-05-01,0.000000,431,5386.33
1,VAREJO DIRETO,25947.19,352.0,CH,DROGASIL - BA,2018-06-01,0.000000,431,25947.19
2,VAREJO DIRETO,17637.59,232.0,CH,DROGASIL - BA,2018-07-01,0.000000,431,17637.59
3,VAREJO DIRETO,13165.35,191.0,CH,DROGASIL - BA,2018-08-01,0.000000,431,13165.35
4,VAREJO DIRETO,56266.59,818.0,CH,DROGASIL - BA,2018-09-01,0.000000,431,56266.59
...,...,...,...,...,...,...,...,...,...
70382,HOSPITALAR,1110.12,72.0,SMART,ALTHIS COM DE MEDIC E MAT MEDICO - SC,2018-07-01,53.800000,5,1110.12
70383,VAREJO DIRETO,1726.44,60.0,CH,GLOBAL ORGANIZACAO FARMACEUTICA - SP,2018-06-01,54.800000,1,1726.44
70384,VAREJO INDIRETO,702.00,300.0,SMART,DISTRIPHARMA DISTR DE MEDIC LTDA - RS,2018-05-01,55.833333,1,702.00
70385,HOSPITALAR,275.00,100.0,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-06-01,53.800000,2,275.00
70386,HOSPITALAR,275.00,100.0,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-07-01,53.800000,2,275.00

In [143]:
df = df.drop(["Entregue - Liq Abatimento","Qtd Entregue"], axis=1)

In [145]:
df = df.rename(columns={'Canal VD-VI-Hosp': 'canal'})

In [146]:
df

,canal,BU_DATA,rede_uf,data,recencia_valor,frequencia,valor
0,VAREJO DIRETO,CH,DROGASIL - BA,2018-05-01,0.000000,431,5386.33
1,VAREJO DIRETO,CH,DROGASIL - BA,2018-06-01,0.000000,431,25947.19
2,VAREJO DIRETO,CH,DROGASIL - BA,2018-07-01,0.000000,431,17637.59
3,VAREJO DIRETO,CH,DROGASIL - BA,2018-08-01,0.000000,431,13165.35
4,VAREJO DIRETO,CH,DROGASIL - BA,2018-09-01,0.000000,431,56266.59
...,...,...,...,...,...,...,...
70382,HOSPITALAR,SMART,ALTHIS COM DE MEDIC E MAT MEDICO - SC,2018-07-01,53.800000,5,1110.12
70383,VAREJO DIRETO,CH,GLOBAL ORGANIZACAO FARMACEUTICA - SP,2018-06-01,54.800000,1,1726.44
70384,VAREJO INDIRETO,SMART,DISTRIPHARMA DISTR DE MEDIC LTDA - RS,2018-05-01,55.833333,1,702.00
70385,HOSPITALAR,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-06-01,53.800000,2,275.00
70386,HOSPITALAR,GENÉRICOS,CIAMED DIST DE MED LTDA - RS,2018-07-01,53.800000,2,275.00